{# Worked list/schedule dashboard for the `full` layout. #}
{# Expects a flat `events` array, e.g. via webhook merge_variables:           #}
{#   { "merge_variables": { "events": [                                       #}
{#       { "title": "...", "date": "2026-08-01", "time": "09:00",             #}
{#         "location": "...", "allDay": false } ] } }                         #}
{# Reads at the root (webhook or single polling URL). Dates are ISO strings.  #}
<div class="view view--full">
  <div class="layout">
    {% if events == empty or events == nil %}
      <div class="richtext richtext--center">
        <div class="content content--center text--center"><p>No upcoming events</p></div>
      </div>
    {% else %}
      <div class="flex flex--col gap--small" data-list-limit="true">
        {% for e in events limit: 8 %}
          <div class="item">
            <div class="meta">
              <span class="index">{{ e.date | l_date: '%-d', trmnl.user.locale }}</span>
            </div>
            <div class="content">
              <span class="title title--small" data-clamp="1">{{ e.title }}</span>
              <div class="flex gap--small">
                <span class="label label--small label--underline">
                  {{ e.date | l_date: '%a %b %-d', trmnl.user.locale }}
                </span>
                {% if e.allDay %}
                  <span class="label label--small label--underline">All day</span>
                {% elsif e.time and e.time != "" %}
                  <span class="label label--small label--underline">{{ e.time }}</span>
                {% endif %}
                {% if e.location and e.location != "" %}
                  <span class="label label--small" data-clamp="1">{{ e.location }}</span>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="title_bar">
    <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" />
    <span class="title">{{ schedule_title | default: 'Schedule' }}</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
